html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to bottom right,#003324, #3a552e, 	#5b2d10);
  color: white;
}

.App {
  text-align: center;
  font-family: sans-serif;
}

input {
  color: black;
}

.mc-classes-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.mc-class-card {
  border: 1px solid black;
  width: 40rem;
  height: 15rem;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  border-radius: .3rem;
  background-color: #373133;
}


.mc-mini-section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.5rem;
  border: 1px solid black;
  border-radius: .2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 36rem;
  height: 12rem;
  background-color: #3a552e;
  box-shadow: 0 0px 2px 0 #1e1e1e;
}

.mc-mini-section {
  display: flex;
  flex-direction: column;
  font-size: medium;
}

.mc-class-info {
  text-align: left;
  margin-left: 1rem;
  text-decoration: none;
 }

 .mc-class-info-2 {
  text-align: left;
  margin-left: 1rem;
  text-decoration: none;
 }

 .mc-class-info-3 {
  text-align: left;
  margin-left: 1rem;
  text-decoration: none;
 }